/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	text-align: center;
	background-image: url('../images/joker.jpg');
	background-repeat: none;
	-webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
}

a {
	text-decoration: none;
	color: black;
}

nav > ul > li {	
	display: inline;
}

/*---------------------------------------------------------------------------------
   Header Styles
---------------------------------------------------------------------------------*/

nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav a {

	color: #fff;
}

h1 {
	font-weight: 900;
	font-size: 3em;
	color: #fff;
	position: relative;
	top:-.5em;
	text-shadow: 1px 1px purple;

}

/*style for hidden modal*/
.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	position: absolute;
	background-image: url('../images/jokerbkgrnd.jpg');
	-webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.content {
	color: #fff;
	text-shadow: 1px 1px black;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 4em;
	color: #95a5a6;
	padding: 0.5em 2em;
	border-radius: 3px;
}

.gotit {
	margin-top: 5em;
}
/*---------------------------------------------------------------------------------
   Game Section Styles
---------------------------------------------------------------------------------*/

.game {
	position: relative;
	width: 380px;
	height: 380px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
}

h2 {
	position: relative;
	left: 18.5em;
	top: 5em;
	margin: 0 auto;	
	padding: 1em 0.4em;
	font-size: 1.5em;
	font-weight: 400;
	display: block;
	line-height: 1em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
	text-shadow: 1px 1px purple;
}

.game p {
	position: relative;
	top:-9em;
	left:-.5em;
	color: white;
	text-shadow: 1px 1px purple;
	margin-top: 0.5em;
	font-size: 1.8em;
	padding-bottom: 0.5em;
}

#count {
	color: purple;
	text-shadow: 1px 1px purple;
	font-weight: 700;
	font-size: 1.5em;
}

input {
	position: relative;
	left: 14em;
	top: 3em;
	width: 300px;
	height: 50px;
	display: block;
	padding: 10px;
	margin: 0.8em auto 0;
	color: white;
	border: solid 1px #dcdcdc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	 background-color: Transparent;
	 text-shadow: 1px 1px black;
	  transition: box-shadow 0.3s, border 0.3s;
  
  
}

input.button {
	color: white;
	text-shadow: 1px 1px purple;
	 background-color: Transparent;
	font-size: 2em;
	padding: 0.2em;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

input.button:hover , input:hover ,.content > div a {
	color: purple;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	cursor: pointer;
}

input.text {
	color: white;
	text-shadow: 1px 1px purple;
	text-align: center;
	padding: 0.2em;
	font-size: 2em;
}

input:focus {
	outline: none !important;
}

::-webkit-input-placeholder {
   color: white; 
}

:-moz-placeholder { /* Firefox 18- */
   color: white; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white; 
}

:-ms-input-placeholder {  
   color: white; 
}

ul.guessBox {
	position: relative;
	right: 32em;
	top: -28em;
	width: 7em;
	margin: 10px auto 0;
	display: block;
	line-height: .5em;
	text-align: center;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
ul.guessBox li {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 50%;
	margin: 0.2em;
	background-color: #00FF00;
	opacity: .6;
	padding:.5em;
	font-weight: 100;
	color: white;
	text-shadow: 1px 1px purple;
}
